<!DOCTYPE html>
<html>
<head>
    <title> <%= title %> </title>
    <% include commons/styles.ejs %>        <!-- 相对路径 -->
</head>
<body>
    <!-- top navigator  -->
    <% include commons/topnav.ejs %>    <!-- 相对路径 -->


    <!-- footer -->
    <% include commons/footer.ejs %>    <!-- 相对路径 -->

    <!-- javascript -->
    <% include commons/javascripts.ejs %>    <!-- 相对路径 -->


</body>
</html>